<div class="span3 sidebar">
	<div class='sidebar-module'>
		<div class='section header'>
			<div class='pic'>
				<%= image_tag(@user.image) %>
				<!--<a href="/natashamurashev"><img alt="Natasha Murashev" class="angel_image" src="https://s3.amazonaws.com/photos.angel.co/users/31725-medium?1305000485" /></a>-->
			</div>
			<div class='name'>
				<a href="http://twitter.com/<%= current_user.screen_name %>" target='_blank'>@<%= current_user.screen_name %></a>
			</div>
		</div>
		<div class='section'>
			<ul>
				<% unless @hashtags.nil? %>
					<% @hashtags.each_key do |h| %>
				   		<li class='home_nav_item'>
							<a href='<%= "/tags/#{h}" %>'>#<%= "#{h}" %><span class='unread'><%= "#{@hashtags[h]}" %></span></a>	
						</li>
					<% end %>
					<% if @untagged_tweet_count != 0 %>
						<li class='home_nav_item'> 
							<a href='/tags/notag'>untagged <span class='unread'><%= @untagged_tweet_count%></span></a>
						</li>
					<% end %>
				<% end %>
			</ul>
			<div class='cb'></div>
		</div>
	</div>
</div>