 <% if current_user %>
 <%= Tweet.get_user_tweets(@user) %>

<div class="row-fluid">
	<%= render "static_pages/sidebar"%>
	<div class="span8">
		<ul>
			<% if @user.tweets.any? %>
			<h3><%= @tweets.count %> TweetMarks</h3>
			<div class="tweets">
				<%= render @tweets.sort_by{|t| t.tweetid}.reverse %>
            </div>
		    <% end %>
		</ul>
	</div>
</div>
<% else %>
<div class="center hero-unit">
   <h1>Welcome to TweetMark</h1>
   <h2>You can finally bookmark your tweets</h2>
       <%= link_to image_tag("/assets/twitter-signin.png", alt: "Sign In With Twitter"), "/auth/twitter"%>
</div>
<% end %>

